<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Team's Meet</title>
  <link rel="stylesheet" href="landingpagestyle.css">
  <script src="https://kit.fontawesome.com/325bf6fb9b.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="nav">
    <h1 class="title-name">Team's Meet</h1>
  </div>

  <div class="main">
    <div class="content-left">
      <div class="description">
        <h1>Connecting People</h1>
        <h3 class="details">-Across The Globe.</h3>
      </div>
      <div class="main-buttons">
        <span><a class="start-meet" href="/start"></a></span>
      </div>
    </div>

    <div class="main-images">
      <img src="./Asset.svg" alt="Video conferencing image">
    </div>
  </div>

  <div class="footer">

    <div class="credits">
      <p>Developed By</p>
      <h2>Chaitanya Kumar Perikila</h2>
    </div>

    <div class="wrapper">
      <h4 class="contact">Contact Us : </h4>
      <a href="#">
        <div class="icon facebook">
          <div class="tooltip">Facebook</div>
          <i class="fab fa-facebook-f"></i>
        </div>
      </a>

      <div class="icon twitter">
        <div class="tooltip">Twitter</div>
        <i class="fab fa-twitter"></i>
      </div>
      <div class="icon instagram">
        <div class="tooltip">Instagram</div>
        <i class="fab fa-instagram"></i>
      </div>
      <div class="icon github">
        <div class="tooltip">Github</div>
        <i class="fab fa-github"></i>
      </div>
      <div class="icon youtube">
        <div class="tooltip">Youtube</div>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
</body>

</html>